@import url("//fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("//beta.adalab.es/resources/stylesheets/all.css");

:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.card-ejs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 300px;
	list-style: none;
	padding: 30px;
	margin: 50px;
	gap: 20px;
	border-radius: 30px;
	background-color: rgb(169, 0, 0);
}
.img-ejs {
	width: 200px;
}
.title-ejs {
	color: rgb(255, 255, 255);
	font-size: 30px;
}
.description-ejs {
	color: rgb(29, 16, 16);
	font-size: 20px;
}
